<nav class="menu">
    <div class="menu-section">
      <div class="logo">
        <i class="fas fa-home"></i> Alójate
      </div>
      <div class="menu-icons">
        <i class="fas fa-search"></i>
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="divider"></div>
    <div class="menu-section">
      <ul class="menu-options">
        <li>Home</li>
        <li>Booking</li>
        <li>House</li>
        <li>Pages</li>
        <li>About</li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <h1>ESTANCIAS</h1>
    <h2>MAS DETALLES</h2>
  </div>