<h1 class="title">Estancias</h1>
<div class="container">
  <div class="column">
    <img src="ESTANCIA 1.png" alt="Descripción de la imagen 1">
    <h2>ADOSADO COLORIDO</h2>
    <p>DESCANSAR Y RETIRARSE EN UNA</p>
    <p>CASA CON LA MEJOR COMUNIDAD</p>
  </div>
  <div class="column">
    <img src="ESTANCIA 2.png" alt="Descripción de la imagen 2">
    <h2>PLAZA BONANZA</h2>
    <p>MIRA EL COCEANO, ESCUCHA LAS OLAS</p>
    <p>Y DISFRUTA DEL MAR</p>
  </div>
  <div class="column">
    <img src="ESTANCIA 3.png" alt="Descripción de la imagen 3">
    <h2>SANTUARIO ANTIGUO</h2>
    <p>ENCUENTRA LA CASA DE TUS SUEÑOS</p>
    <p>CERCA DEL COLEGIO Y DE TU OFICINA</p>
  </div>
</div>