.container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #f0f0f0; /* Fondo gris */
    border-radius: 5px;
  }
  
  .column img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .column h2 {
    margin-top: 0;
    font-weight: bold; /* Títulos en negritas */
  }
  
  .column p {
    font-weight: normal; /* Texto del párrafo normal */
  }