<h1 class="Titulo">QUE DEBES SABER</h1>
<div class="container">
    <div class="column">
      <h2>Reglas de la casa</h2>
      <p>LLEGADA A PARTIR DE LAS 3:00 PM</p>
      <P>SALIDA ANTES DE LA 1:00 PM</P>
      <P>NO SE ADMITEN MASCOTAS</P>
      <a href="#">SABER MAS &gt;&gt;</a>
    </div>
    <div class="column">
      <h2>Seguridad y propiedad</h2>
      <p>NO HAY ALARMA DE HUMO</p>
      <P>ABERCA/JACUZZI SIN REJA NI PUERTA CON LLAVE</P>
      <P>NO SE REQUIERE DETECTOR DE MONOXIDO DE CARBONO</P>
      <a href="#">SABER MAS &gt;&gt;</a>
    </div>
    <div class="column">
      <h2>Políticas de cancelación</h2>
      <p>SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5 ENE), RECIBIRAS UN REMBOLSO PARCIAL</p>
      <P>PASADO ESE PLAZO, TU REEMBOLSO DEPENDERA DE CUANDO CANCELES</P>
      <a href="#">SABER MAS &gt;&gt;</a>
    </div>
  </div>