.caracteristica {
    display: flex;
    justify-content: space-between;
    background-color: white; /* Fondo blanco */
    padding: 20px; /* Espacio interno */
    margin-bottom: 0; /* Espacio externo para separar de otros componentes */
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
  }
  
  .column h2 {
    margin-top: 0;
    font-weight: bold; 
  }
  
  .column p {
    font-weight: normal; 
  }
  
  .column p i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }